nav {
    background-color: rgb(209, 111, 255)
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navText {
    font-size: 55px;
}

.nav-item {
    font-size: 25px;
}